<div class="modal-body">
  <dl>
    <dt>{{ vm.infos.nome.label }}:</dt>
    <dd><bind-custom [model]="vm.model.nome" [format]="'string'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.infos.clienteId.label }}:</dt>
    <dd><bind-custom [model]="vm.model.clienteId" [format]="'instance'" [tag]="'span'"  [instance]="'Cliente'" [filterid]="'vm.model.clienteId'"></bind-custom></dd>
 

    <dt>{{ vm.infos.usuarioId.label }}:</dt>
    <dd><bind-custom [model]="vm.model.usuarioId" [format]="'instance'" [tag]="'span'"  [instance]="'Usuario'" [filterid]="'vm.model.usuarioId'"></bind-custom></dd>
 

    <dt>{{ vm.infos.chaveUnica.label }}:</dt>
    <dd><bind-custom [model]="vm.model.chaveUnica" [format]="'string'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.infos.inicio.label }}:</dt>
    <dd><bind-custom [model]="vm.model.inicio" [format]="'DateTime?'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.infos.fim.label }}:</dt>
    <dd><bind-custom [model]="vm.model.fim" [format]="'DateTime?'" [tag]="'span'" ></bind-custom></dd>
 

  </dl> 
</div>
