<dl>
    <dt>{{ vm.infos.nome.label }}:</dt>
    <dd><bind-custom [model]="vm.details.nome" [format]="'string'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.infos.descricao.label }}:</dt>
    <dd><bind-custom [model]="vm.details.descricao" [format]="'string'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.infos.visao.label }}:</dt>
    <dd><bind-custom [model]="vm.details.visao" [format]="'string'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.infos.clienteId.label }}:</dt>
    <dd><bind-custom [model]="vm.details.clienteId" [format]="'instance'" [tag]="'span'"  [instance]="'Cliente'" [filterid]="'vm.model.clienteId'"></bind-custom></dd>
 

    <dt>{{ vm.infos.usuarioId.label }}:</dt>
    <dd><bind-custom [model]="vm.details.usuarioId" [format]="'instance'" [tag]="'span'"  [instance]="'Usuario'" [filterid]="'vm.model.usuarioId'"></bind-custom></dd>
 

    <dt>{{ vm.infos.chaveUnica.label }}:</dt>
    <dd><bind-custom [model]="vm.details.chaveUnica" [format]="'string'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.infos.inicio.label }}:</dt>
    <dd><bind-custom [model]="vm.details.inicio" [format]="'DateTime?'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.infos.fim.label }}:</dt>
    <dd><bind-custom [model]="vm.details.fim" [format]="'DateTime?'" [tag]="'span'" ></bind-custom></dd>
 

</dl> 

