<div class="modal-body">
  <dl>
    <dt>{{ vm.labels.nome }}:</dt>
    <dd><bind-custom [model]="vm.model.nome" [format]="'string'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.labels.clienteId }}:</dt>
    <dd><bind-custom [model]="vm.model.clienteId" [format]="'instance'" [tag]="'span'"  [instance]="'Cliente'" [filterid]="'vm.model.clienteId'"></bind-custom></dd>
 

    <dt>{{ vm.labels.usuarioId }}:</dt>
    <dd><bind-custom [model]="vm.model.usuarioId" [format]="'instance'" [tag]="'span'"  [instance]="'Usuario'" [filterid]="'vm.model.usuarioId'"></bind-custom></dd>
 

    <dt>{{ vm.labels.chaveUnica }}:</dt>
    <dd><bind-custom [model]="vm.model.chaveUnica" [format]="'string'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.labels.inicio }}:</dt>
    <dd><bind-custom [model]="vm.model.inicio" [format]="'DateTime?'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.labels.fim }}:</dt>
    <dd><bind-custom [model]="vm.model.fim" [format]="'DateTime?'" [tag]="'span'" ></bind-custom></dd>
 


  </dl> 
</div>
