<div class="row">
  <section class="col-md-6">
	<div class='form-group'>
                    <label>{{ vm.labels.nome }}</label>
                    <input type='text' class='form-control'  [(ngModel)]='vm.modelFilter.nome' name='nome' />
                </div>
  </section>
  <section class="col-md-6">
	                <div class='form-group'>
                    <label>{{ vm.labels.foto }}</label><br>
                    <img src='{{vm.downloadUri}}{{vm.model.foto}}' style='width: 100px' /><br>
                    Procurar<input type='file'  multiple><br>
                    <em *ngIf='vm.model.foto != null' class='text-muted'>{{vm.downloadUri}}{{vm.model.foto}}</em><br>
                    <button class='btn btn-default' type='button' (click)='vm.delete(vm.model.foto, vm.model)'>Excluir</button><br>
                </div>
  </section>
  <section class="col-md-6">
	<div class='form-group'>
                    <label>{{ vm.labels.email }}</label>
                    <input type='text' class='form-control'  [(ngModel)]='vm.modelFilter.email' name='email' />
                </div>
  </section>
  <section class="col-md-6">
	<div class='form-group'>
                    <label>{{ vm.labels.senha }}</label>
                    <input type='text' class='form-control'  [(ngModel)]='vm.modelFilter.senha' name='senha' />
                </div>
  </section>
  <section class="col-md-6">
	<div class='form-group'>
                    <label>{{ vm.labels.usuarioTipoId }}</label>
                    <make-select [value]='vm.modelFilter.usuarioTipoId' [dataitem]='"UsuarioTipo"' label='Selecione' [name]='usuarioTipoId' [required]='false' (msChange)='onChangeMakeSelectusuarioTipoId($event)' [form]='vm.form'></make-select>
                </div>
  </section>
  <section class="col-md-6">
	                <div class='checkbox'>
                    <label>
                        <input type='checkbox'  [(ngModel)]='vm.modelFilter.ativo' name='ativo' /> {{ vm.labels.ativo }}?
                    </label>
                </div>
  </section>

</div>
