<div class="row">
  <section class="col-md-6">
	<div class='form-group'>
      <label>{{ vm.infos.inicio.label }}</label>
      <input type='text' class='form-control'  [(ngModel)]='vm.modelFilter.inicio' name='inicio'datepicker />
    </div>
  </section>
  <section class="col-md-6">
	<div class='form-group'>
      <label>{{ vm.infos.fim.label }}</label>
      <input type='text' class='form-control'  [(ngModel)]='vm.modelFilter.fim' name='fim'datepicker />
    </div>
  </section>
  <section class="col-md-6">
	<div class='form-group'>
      <label>{{ vm.infos.pendenciaId.label }}</label>
      <select class='form-control'  name='pendenciaId' [(ngModel)]='vm.modelFilter.pendenciaId' datasource [dataitem]="'Pendencia'"></select>
    </div>
  </section>
  <section class="col-md-6">
	<div class='form-group'>
      <label>{{ vm.infos.usuarioId.label }}</label>
      <select class='form-control'  name='usuarioId' [(ngModel)]='vm.modelFilter.usuarioId' datasource [dataitem]="'Usuario'"></select>
    </div>
  </section>
</div>
