<div class="row">
  <section class="col-md-6">
	<div class='form-group'>
                    <label>{{ vm.infos.documentoId.label }}</label>
                    <select class='form-control'  name='documentoId' [(ngModel)]='vm.modelFilter.documentoId' datasource [dataitem]="'Documento'" (msChange)='onChangeMakeSelectdocumentoId($event)'></select>
                </div>
  </section>
  <section class="col-md-6">
	<div class='form-group'>
                    <label>{{ vm.infos.comentarioId.label }}</label>
                    <select class='form-control'  name='comentarioId' [(ngModel)]='vm.modelFilter.comentarioId' datasource [dataitem]="'Comentario'" (msChange)='onChangeMakeSelectcomentarioId($event)'></select>
                </div>
  </section>
</div>
