<div bsModal #detalhesModal="bs-modal" class="gc-modal modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{title}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="onCancel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <dl>
          <dt>{{ vm.infos.resumo.label }}:</dt>
          <dd><bind-custom [model]="vm.details.resumo" [format]="'string'" [tag]="'span'"></bind-custom></dd>


          <dt>{{ vm.infos.descricao.label }}:</dt>
          <dd><bind-custom [model]="vm.details.descricao" [format]="'html'" [tag]="'span'"></bind-custom></dd>


          <dt>{{ vm.infos.requisitadoPor.label }}:</dt>
          <dd><bind-custom [model]="vm.details.requisitadoPor" [format]="'string'" [tag]="'span'"></bind-custom></dd>


          <dt>{{ vm.infos.tags.label }}:</dt>
          <dd><bind-custom [model]="vm.details.tags" [format]="'string'" [tag]="'span'"></bind-custom></dd>


          <dt>{{ vm.infos.prazo.label }}:</dt>
          <dd><bind-custom [model]="vm.details.prazo" [format]="'DateTime?'" [tag]="'span'"></bind-custom></dd>


          <dt>{{ vm.infos.dataConclusao.label }}:</dt>
          <dd><bind-custom [model]="vm.details.dataConclusao" [format]="'DateTime?'" [tag]="'span'"></bind-custom></dd>


          <dt>{{ vm.infos.tempoEstimado.label }}:</dt>
          <dd><bind-custom [model]="vm.details.tempoEstimado" [format]="'int?'" [tag]="'span'"></bind-custom></dd>


          <dt>{{ vm.infos.pontosEstimados.label }}:</dt>
          <dd><bind-custom [model]="vm.details.pontosEstimados" [format]="'int?'" [tag]="'span'"></bind-custom></dd>


          <dt>{{ vm.infos.projetoId.label }}:</dt>
          <dd><bind-custom [model]="vm.details.projetoId" [format]="'instance'" [tag]="'span'" [instance]="'Projeto'" [key]="'ProjetoId'"></bind-custom></dd>


          <dt>{{ vm.infos.usuarioId.label }}:</dt>
          <dd><bind-custom [model]="vm.details.usuarioId" [format]="'instance'" [tag]="'span'" [instance]="'Usuario'" [key]="'UsuarioId'"></bind-custom></dd>


          <dt>{{ vm.infos.pendenciaTipoId.label }}:</dt>
          <dd><bind-custom [model]="vm.details.pendenciaTipoId" [format]="'instance'" [tag]="'span'" [instance]="'PendenciaTipo'" [key]="'PendenciaTipoId'"></bind-custom></dd>


          <dt>{{ vm.infos.fluxoTrabalhoStatusId.label }}:</dt>
          <dd><bind-custom [model]="vm.details.fluxoTrabalhoStatusId" [format]="'instance'" [tag]="'span'" [instance]="'FluxoTrabalhoStatus'" [key]="'FluxoTrabalhoStatusId'"></bind-custom></dd>


          <dt>{{ vm.infos.pendenciaPrioridadeId.label }}:</dt>
          <dd><bind-custom [model]="vm.details.pendenciaPrioridadeId" [format]="'instance'" [tag]="'span'" [instance]="'PendeciaPrioridade'" [key]="'PendenciaPrioridadeId'"></bind-custom></dd>

          <dt>Arquivos</dt>
          <dd>
            <ul *ngFor="let pd of vm.details.collectionPendenciaDocumento">
              <li><i class="fa fa-file"></i> <a href='{{vm.downloadUri}}documento/{{pd.documento.arquivo}}'>{{pd.documento.arquivo}}</a></li>
            </ul>
          </dd>

        </dl> 


      </div>
      <div class="modal-footer">
        <button class="btn btn-default" type="button" (click)="onCancel()">{{vm.generalInfo.cancelar.label}}</button>
      </div>
    </div>
  </div>
</div>