<div class="modal-body">
  <div class="row" [formGroup]="vm.form">
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.infos.nome.label }}</label>
                    <input type='text' class='form-control'[(ngModel)]='vm.model.nome' name='nome' required formControlName='nome'  />
                </div>
			</section>
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.infos.fluxoTrabalhoTipoId.label }}</label>
                    <select class='form-control'  name='fluxoTrabalhoTipoId' [(ngModel)]='vm.model.fluxoTrabalhoTipoId' required formControlName='fluxoTrabalhoTipoId' datasource [dataitem]="'FluxoTrabalhoTipo'"></select>
                  </div>
			</section>
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.infos.corFundo.label }}</label>
                    <input type='text' class='form-control'[(ngModel)]='vm.model.corFundo' name='corFundo'  formControlName='corFundo'  />
                </div>
			</section>
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.infos.corFonte.label }}</label>
                    <input type='text' class='form-control'[(ngModel)]='vm.model.corFonte' name='corFonte'  formControlName='corFonte'  />
                </div>
			</section>
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.infos.ordem.label }}</label>
                    <input type='text' class='form-control'[(ngModel)]='vm.model.ordem' name='ordem'  formControlName='ordem' maski='9999999999' />
                </div>
			</section>
  </div>
</div>
