<div class="row">
  <section class="col-md-6">
	<div class='form-group'>
                    <label>{{ vm.infos.pendenciaId.label }}</label>
                    <select class='form-control'  name='pendenciaId' [(ngModel)]='vm.modelFilter.pendenciaId' datasource [dataitem]="'Pendencia'" (msChange)='onChangeMakeSelectpendenciaId($event)'></select>
                </div>
  </section>
  <section class="col-md-6">
	<div class='form-group'>
                    <label>{{ vm.infos.documentoId.label }}</label>
                    <select class='form-control'  name='documentoId' [(ngModel)]='vm.modelFilter.documentoId' datasource [dataitem]="'Documento'" (msChange)='onChangeMakeSelectdocumentoId($event)'></select>
                </div>
  </section>
</div>
