<div class="modal-body">
  <div class="row" [formGroup]="vm.form">
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.labels.projetoId }}</label>
                    <select  name='projetoId' [(ngModel)]='vm.model.Projeto' required formControlName='projetoId' datasource [dataitem]="Projeto'"></select>
                  </div>
			</section>
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.labels.fluxoTrabalhoStatusId }}</label>
                    <select  name='fluxoTrabalhoStatusId' [(ngModel)]='vm.model.FluxoTrabalhoStatus' required formControlName='fluxoTrabalhoStatusId' datasource [dataitem]="FluxoTrabalhoStatus'"></select>
                  </div>
			</section>

  </div>
</div>
