        <section class="col-md-12">
                  <div class='form-group'>
                    <label ng-show='vm.formCrud.nome.$valid || vm.formCrud.nome.$pristine'>{{ ::vm.Labels.nome }}</label>
                    <label class='alert alert-danger' ng-show='vm.formCrud.nome.$invalid && vm.formCrud.nome.$dirty'>Campo {{ ::vm.Labels.nome }} é obrigatório</label>
                    <input type='text' class='form-control' ng-model='vm.Model.nome' name='nome' ng-required='true' attributes-c attributes-container='Cliente' attributes-field='nome' />
                </div>        
        </section>
        <section class="col-md-12">
                  <div class='form-group'>
                    <label ng-show='vm.formCrud.telefoneDeContato.$valid || vm.formCrud.telefoneDeContato.$pristine'>{{ ::vm.Labels.telefoneDeContato }}</label>
                    <label class='alert alert-danger' ng-show='vm.formCrud.telefoneDeContato.$invalid && vm.formCrud.telefoneDeContato.$dirty'>Campo {{ ::vm.Labels.telefoneDeContato }} é obrigatório</label>
                    <input type='text' class='form-control' ng-model='vm.Model.telefoneDeContato' name='telefoneDeContato'  attributes-c attributes-container='Cliente' attributes-field='telefoneDeContato' />
                </div>        
        </section>
        <section class="col-md-12">
                  <div class='form-group'>
                    <label ng-show='vm.formCrud.emailDeContato.$valid || vm.formCrud.emailDeContato.$pristine'>{{ ::vm.Labels.emailDeContato }}</label>
                    <label class='alert alert-danger' ng-show='vm.formCrud.emailDeContato.$invalid && vm.formCrud.emailDeContato.$dirty'>Campo {{ ::vm.Labels.emailDeContato }} é obrigatório</label>
                    <input type='email' class='form-control' ng-model='vm.Model.emailDeContato' name='emailDeContato'  attributes-c attributes-container='Cliente' attributes-field='emailDeContato' />
                </div>        
        </section>
        <section class="col-md-12">
                  <div class='form-group'>
                    <label ng-show='vm.formCrud.cpfcnpj.$valid || vm.formCrud.cpfcnpj.$pristine'>{{ ::vm.Labels.cpfcnpj }}</label>
                    <label class='alert alert-danger' ng-show='vm.formCrud.cpfcnpj.$invalid && vm.formCrud.cpfcnpj.$dirty'>Campo {{ ::vm.Labels.cpfcnpj }} é obrigatório</label>
                    <input type='text' class='form-control' ng-model='vm.Model.cpfcnpj' name='cpfcnpj'  attributes-c attributes-container='Cliente' attributes-field='cpfcnpj' />
                </div>        
        </section>