<div class="row">
  <section class="col-md-6">
	<div class='form-group'>
                    <label>{{ vm.labels.nome }}</label>
                    <input type='text' class='form-control'  [(ngModel)]='vm.modelFilter.nome' name='nome' />
                </div>
  </section>
  <section class="col-md-6">
	<div class='form-group'>
                    <label>{{ vm.labels.telefoneDeContato }}</label>
                    <input type='text' class='form-control'  [(ngModel)]='vm.modelFilter.telefoneDeContato' name='telefoneDeContato' />
                </div>
  </section>
  <section class="col-md-6">
	<div class='form-group'>
                    <label>{{ vm.labels.emailDeContato }}</label>
                    <input type='text' class='form-control'  [(ngModel)]='vm.modelFilter.emailDeContato' name='emailDeContato' />
                </div>
  </section>
  <section class="col-md-6">
	<div class='form-group'>
                    <label>{{ vm.labels.cpfcnpj }}</label>
                    <input type='text' class='form-control'  [(ngModel)]='vm.modelFilter.cpfcnpj' name='cpfcnpj' />
                </div>
  </section>

</div>
