<div class="row">
  <section class="col-md-6">
	<div class='form-group'>
                    <label>{{ vm.infos.projetoId.label }}</label>
                    <select class='form-control'  name='projetoId' [(ngModel)]='vm.modelFilter.projetoId' datasource [dataitem]="'Projeto'" (msChange)='onChangeMakeSelectprojetoId($event)'></select>
                </div>
  </section>
  <section class="col-md-6">
	<div class='form-group'>
                    <label>{{ vm.infos.fluxoTrabalhoStatusId.label }}</label>
                    <select class='form-control'  name='fluxoTrabalhoStatusId' [(ngModel)]='vm.modelFilter.fluxoTrabalhoStatusId' datasource [dataitem]="'FluxoTrabalhoStatus'" (msChange)='onChangeMakeSelectfluxoTrabalhoStatusId($event)'></select>
                </div>
  </section>
</div>
