<div class="row">
  <section class="col-md-6">
	<div class='form-group'>
                    <label>{{ vm.labels.projetoId }}</label>
                    <make-select [value]='vm.modelFilter.projetoId' [dataitem]='"Projeto"' label='Selecione' [name]='projetoId' [required]='false' (msChange)='onChangeMakeSelectprojetoId($event)'></make-select>
                </div>
  </section>
  <section class="col-md-6">
	<div class='form-group'>
                    <label>{{ vm.labels.fluxoTrabalhoStatusId }}</label>
                    <make-select [value]='vm.modelFilter.fluxoTrabalhoStatusId' [dataitem]='"FluxoTrabalhoStatus"' label='Selecione' [name]='fluxoTrabalhoStatusId' [required]='false' (msChange)='onChangeMakeSelectfluxoTrabalhoStatusId($event)'></make-select>
                </div>
  </section>

</div>
