<div>

  <div class="well">
    <h3><i class="fa fa-edit"></i> {{ vm.ActionTitle }}</h3>
    <p>{{ vm.ActionDescription }}</p>
    <div class="row">
      <div class="col-xs-12">
        <div class="btn-group pull-right" style="padding-bottom:10px;">
          <a href="javascript:history.back()" class="btn btn-primary btn-sm" data-original-title="" title="" style="margin-left:10px;width:100px" tooltip-placement="top" uib-tooltip="Voltar">
            <i class="fa fa-reply"></i> Voltar
          </a>
          <a class="btn btn-success btn-sm" (click)="onCreate()" style="margin-left:10px;width:100px" tooltip-placement="top" uib-tooltip="Cadastrar">
            <i class="fa fa-plus"></i> Cadastrar
          </a>
          <a class="btn btn-default btn-sm" (click)="onExport(vm.crud.ModelFilter)" style="margin-left:10px;width:100px" tooltip-placement="top" uib-tooltip="Exportar para Excel">
            <i class="fa fa-file-excel-o"></i> Excel
          </a>
          <a class="btn btn-primary btn-sm" (click)="vm.mostrarFiltros =! vm.mostrarFiltros" style="margin-left:10px;width:100px" tooltip-placement="top" uib-tooltip="Filtros">
            <i class="fa fa-search"></i> Filtros
          </a>
        </div>
      </div>
    </div>
  </div>


  <div class="filter-template">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default" *ngIf="vm.mostrarFiltros">
          <div class="panel-heading">
            <h3>Filtros</h3>
          </div>
          <div class="panel-body">
            <form #formFilter="ngForm" (ngSubmit)="onFilter(formFilter)">
              <section class="col-md-6">
                <div class='form-group'>
                  <label>{{ vm.Labels.fluxoTrabalhoStatusId }}</label>
                  <input type='text' class='form-control' [(ngModel)]='vm.ModelFilter.fluxoTrabalhoStatusId' name='fluxoTrabalhoStatusId' />
                </div>
              </section>
              <section class="col-md-6">
                <div class='form-group'>
                  <label>{{ vm.Labels.nome }}</label>
                  <input type='text' class='form-control' [(ngModel)]='vm.ModelFilter.nome' name='nome' />
                </div>
              </section>
              <section class="col-md-6">
                <div class='form-group'>
                  {{ vm.Labels.fluxoTrabalhoTipoId }}
                  <make-select (ngModelChange)="vm.ModelFilter.fluxoTrabalhoTipoId = $event" [dataitem]="'FluxoTrabalhoTipo'"></make-select>
                </div>
              </section>
              <section class="col-md-6">
                <div class='form-group'>
                  <label>{{ vm.Labels.corFundo }}</label>
                  <input type='text' class='form-control' [(ngModel)]='vm.ModelFilter.corFundo' name='corFundo' />
                </div>
              </section>
              <section class="col-md-6">
                <div class='form-group'>
                  <label>{{ vm.Labels.corFonte }}</label>
                  <input type='text' class='form-control' [(ngModel)]='vm.ModelFilter.corFonte' name='corFonte' />
                </div>
              </section>
              <section class="col-md-6">
                <div class='form-group'>
                  <label>{{ vm.Labels.ordem }}</label>
                  <input type='text' class='form-control' [(ngModel)]='vm.ModelFilter.ordem' name='ordem' />
                </div>
              </section>
              <button type="submit" class="btn btn-primary">
                <span class="fa fa-search"></span>
                Filtrar
              </button>
            </form>
          </div>

          <div class="panel-footer" ng-show="vm.mostrarFiltros">

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-template">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-table"></i> Resultado
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th>{{ vm.Labels.fluxoTrabalhoStatusId }}</th>
                  <th>{{ vm.Labels.nome }}</th>
                  <th>{{ vm.Labels.corFundo }}</th>
                  <th>{{ vm.Labels.corFonte }}</th>
                  <th>{{ vm.Labels.ordem }}</th>
                  <th style="width:120px;" class="text-center">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of vm.FilterResult">
                  <td>{{ item.fluxoTrabalhoStatusId }}</td>
                  <td>{{ item.nome }}</td>
                  <td>{{ item.corFundo }}</td>
                  <td>{{ item.corFonte }}</td>
                  <td>{{ item.ordem }}</td>
                  <td>
                    <button (click)="onEdit(item.fluxoTrabalhoStatusId)" tooltip-placement="top" uib-tooltip="Editar" class="btn btn-xs btn-default">
                      <i class="fa fa-pencil"></i>
                    </button>
                    <button (click)="onDetails(item.fluxoTrabalhoStatusId)" tooltip-placement="top" uib-tooltip="Detalhes" class="btn btn-xs btn-sm">
                      <i class="fa fa-table"></i>
                    </button>
                    <button (click)="onPrint(item.fluxoTrabalhoStatusId)" tooltip-placement="top" uib-tooltip="Imprimir" class="btn btn-xs btn-success">
                      <i class="fa fa-print"></i>
                    </button>
                    <button (click)="onDelete({ fluxoTrabalhoStatusId : item.fluxoTrabalhoStatusId })" tooltip-placement="top" uib-tooltip="Excluir" class="btn btn-xs btn-danger">
                      <i class="fa fa-trash-o"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

<hr>

<pre>{{closeResult}}</pre>