                <dt>{{ ::vm.Labels.pendenciaId }}</dt>
                <dd bind-custom-value="vm.Model.pendenciaId" bind-Custom-Type="propertyInstance" bind-property-name= "pendenciaId" bind-releted-class= "Pendencia" ></dd>
                <dt>{{ ::vm.Labels.usuarioId }}</dt>
                <dd bind-custom-value="vm.Model.usuarioId" bind-Custom-Type="propertyInstance" bind-property-name= "usuarioId" bind-releted-class= "Usuario" ></dd>
                <dt>{{ ::vm.Labels.inicio }}</dt>
                <dd bind-custom-value="vm.Model.inicio" bind-Custom-Type="DateTime" ></dd>
                <dt>{{ ::vm.Labels.fim }}</dt>
                <dd bind-custom-value="vm.Model.fim" bind-Custom-Type="DateTime?" ></dd>
                <dt>{{ ::vm.Labels.nota }}</dt>
                <dd bind-custom-value="vm.Model.nota" bind-Custom-Type="string" ></dd>
