<th>
  {{ vm.labels.fluxoTrabalhoStatusId }}
  <button class="btn btn-sm btn-default pull-right" (click)="onOrderBy('fluxoTrabalhoStatusId')">
    <i class="fa fa-arrows-v"></i>
  </button>
</th>
<th>
  {{ vm.labels.nome }}
  <button class="btn btn-sm btn-default pull-right" (click)="onOrderBy('nome')">
    <i class="fa fa-arrows-v"></i>
  </button>
</th>
<th>
  {{ vm.labels.corFundo }}
  <button class="btn btn-sm btn-default pull-right" (click)="onOrderBy('corFundo')">
    <i class="fa fa-arrows-v"></i>
  </button>
</th>
<th>
  {{ vm.labels.corFonte }}
  <button class="btn btn-sm btn-default pull-right" (click)="onOrderBy('corFonte')">
    <i class="fa fa-arrows-v"></i>
  </button>
</th>
<th>
  {{ vm.labels.ordem }}
  <button class="btn btn-sm btn-default pull-right" (click)="onOrderBy('ordem')">
    <i class="fa fa-arrows-v"></i>
  </button>
</th>
