<div class="modal-body">
  <div class="row" [formGroup]="vm.form">
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.infos.pendenciaId.label }}</label>
                    <select class='form-control'  name='pendenciaId' [(ngModel)]='vm.model.pendenciaId' required formControlName='pendenciaId' datasource [dataitem]="'Pendencia'"></select>
                  </div>
			</section>
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.infos.usuarioId.label }}</label>
                    <select class='form-control'  name='usuarioId' [(ngModel)]='vm.model.usuarioId' required formControlName='usuarioId' datasource [dataitem]="'Usuario'"></select>
                  </div>
			</section>
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.infos.inicio.label }}</label>
                    <input type='text' class='form-control'[(ngModel)]='vm.model.inicio' name='inicio' required='true' formControlName='inicio' datetimepicker />
                </div>
			</section>
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.infos.fim.label }}</label>
                    <input type='text' class='form-control'[(ngModel)]='vm.model.fim' name='fim'  formControlName='fim' datetimepicker />
                </div>
			</section>
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.infos.nota.label }}</label>
                    <textarea class='form-control'  [(ngModel)]='vm.model.nota' name='nota'  rows='10' formControlName='nota'  editorhtml='nota'></textarea>
                </div>
			</section>
  </div>
</div>
