<div bsModal #historicoModal="bs-modal" class="gc-modal modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{title}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="onCancel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <div class="list-group" *ngFor="let comentario of vm.reletedViewModel.comentarios">
            <div class="list-group-item">
              <dl>
                <dt><i class="fa fa-comment fa-fw"></i> {{comentario.descricao}}</dt>
                <dt>
                  <span class="pull-right text-muted small">
                    <bind-custom [model]="comentario.data" [format]="'Datetime'" [tag]="'span'"></bind-custom>
                  </span>
                </dt>
              </dl>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" (click)="onCancel()">{{vm.generalInfo.cancelar.label}}</button>
        </div>
    </div>
  </div>
</div>