<dl>
    <dt>{{ vm.infos.descricao.label }}:</dt>
    <dd><bind-custom [model]="vm.details.descricao" [format]="'string'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.infos.data.label }}:</dt>
    <dd><bind-custom [model]="vm.details.data" [format]="'DateTime'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.infos.usuarioId.label }}:</dt>
    <dd><bind-custom [model]="vm.details.usuarioId" [format]="'instance'" [tag]="'span'"  [instance]="'Usuario'"  [key]="'UsuarioId'"></bind-custom></dd>
 

    <dt>{{ vm.infos.pendenciaId.label }}:</dt>
    <dd><bind-custom [model]="vm.details.pendenciaId" [format]="'instance'" [tag]="'span'"  [instance]="'Pendencia'"  [key]="'PendenciaId'"></bind-custom></dd>
 

</dl> 