        <section class="col-md-12">
                  <div class='form-group'>
                    <label ng-show='vm.formCrud.documentoId.$valid || vm.formCrud.documentoId.$pristine'>{{ ::vm.Labels.documentoId }}</label>
                    <label class='alert alert-danger' ng-show='vm.formCrud.documentoId.$invalid && vm.formCrud.documentoId.$dirty'>Campo {{ ::vm.Labels.documentoId }} é obrigatório</label>
                    <make-select model='vm.Model.documentoId' dataitem='Documento' label='Selecione' name='documentoId' ng-required='true'></make-select>
                </div>        
        </section>
        <section class="col-md-12">
                  <div class='form-group'>
                    <label ng-show='vm.formCrud.comentarioId.$valid || vm.formCrud.comentarioId.$pristine'>{{ ::vm.Labels.comentarioId }}</label>
                    <label class='alert alert-danger' ng-show='vm.formCrud.comentarioId.$invalid && vm.formCrud.comentarioId.$dirty'>Campo {{ ::vm.Labels.comentarioId }} é obrigatório</label>
                    <make-select model='vm.Model.comentarioId' dataitem='Comentario' label='Selecione' name='comentarioId' ng-required='true'></make-select>
                </div>        
        </section>