<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="Target" connectionString="Data Source=192.168.1.121,1433;Initial Catalog=Target.Pendencias;user id=Target;password=Target321$;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;MultipleActiveResultSets=True" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>

    <add key="outputClassDtoTransactionTarget" value="C:\Projetos\Pendencia2\Target.Pendencias.Dto.Transaction" />
    <add key="outputClassInfraTransactionTarget" value="C:\Projetos\Pendencia2\Target.Pendencias.Data.Transaction" />
    <add key="outputClassApiTransactionTarget" value="C:\Projetos\pendencia\Target.Pendencias.Api.Transaction" />

    <add key="outputClassDomainTarget" value="C:\Projetos\Pendencia2\Target.Pendencias.Domain" />
    <add key="outputClassInfraTarget" value="C:\Projetos\Pendencia2\Target.Pendencias.Data" />
    <add key="outputClassDtoTarget" value="C:\Projetos\Pendencia2\Target.Pendencias.Dto" />
    <add key="outputClassAppTarget" value="C:\Projetos\Pendencia2\Target.Pendencias.Application" />
    <add key="outputClassApiTarget" value="C:\Projetos\Pendencia2\Target.Pendencias.Api" />
    <add key="outputClassFilterTarget" value="C:\Projetos\Pendencia2\Target.Pendencias.Domain.Filter" />
    <add key="outputClassSummaryTarget" value="C:\Projetos\Pendencia2\Target.Pendencias.Domain.Summary" />
    <add key="OutputClassSso" value="C:\Projetos\Pendencia2\Sso.Server.Api" />
    <add key="OutputAngular" value="C:\Projetos\Pendencia2\Target.Pendencias.Spa.Ui.V4\" />
    <!--<add key="OutputAngular" value="C:\Projetos\Pendencia2\Target.Pendencias.Spa.Ui" />-->
    

    <add key="GerarModelPartialExistentes" value="false" />
    <add key="GerarMapperPartialExistentes" value="false" />
    <add key="GerarValidationsPartialExistentes" value="false" />
    <add key="GerarModelCustomExistentes" value="false" />
    <add key="GerarDtoEspecializadosExistentes" value="false" />
    <add key="GerarDtoEspecializadosDeResultadoExistentes" value="false" />
    <add key="GerarDtoEspecializadosDeRelatorioExistentes" value="false" />
    <add key="GerarDtoEspecializadosDeDetalhesExistentes" value="false" />
    <add key="GerarFiltersPartialExistentes" value="false" />
    <add key="GerarAppPartialExistentes" value="false" />
    <add key="GerarApiExistentes" value="true" />
    <add key="GerarMoqClassPartialExistentes" value="false" />
    <add key="GerarContainerClassPartialExistentes" value="false" />
    <add key="GerarPreCompilacaoDoContexto" value="false" />
    <add key="GerarFrontControllerCustom" value="true" />
    

  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>