                <dt>{{ ::vm.Labels.projetoId }}</dt>
                <dd bind-custom-value="vm.Model.projetoId" bind-Custom-Type="propertyInstance" bind-property-name= "projetoId" bind-releted-class= "Projeto" ></dd>
                <dt>{{ ::vm.Labels.resumo }}</dt>
                <dd bind-custom-value="vm.Model.resumo" bind-Custom-Type="string" ></dd>
                <dt>{{ ::vm.Labels.descricao }}</dt>
                <dd bind-custom-value="vm.Model.descricao" bind-Custom-Type="textEditor" ></dd>
                <dt>{{ ::vm.Labels.requisitadoPor }}</dt>
                <dd bind-custom-value="vm.Model.requisitadoPor" bind-Custom-Type="string" ></dd>
                <dt>{{ ::vm.Labels.tempoEstimado }}</dt>
                <dd bind-custom-value="vm.Model.tempoEstimado" bind-Custom-Type="int?" ></dd>
                <dt>{{ ::vm.Labels.pontosEstimados }}</dt>
                <dd><span class='label label-success' ng-if='vm.Model.pontosEstimados==0'>0 Pontos</span><span class='label label-success' ng-if='vm.Model.pontosEstimados==1'>1 Ponto</span><span class='label label-success' ng-if='vm.Model.pontosEstimados==2'>2 Pontos</span><span class='label label-success' ng-if='vm.Model.pontosEstimados==3'>3 Pontos</span><span class='label label-success' ng-if='vm.Model.pontosEstimados==5'>5 Pontos</span><span class='label label-success' ng-if='vm.Model.pontosEstimados==8'>8 Pontos</span><span class='label label-success' ng-if='vm.Model.pontosEstimados==13'>13 Pontos</span><span class='label label-success' ng-if='vm.Model.pontosEstimados==20'>20 Pontos</span><span class='label label-success' ng-if='vm.Model.pontosEstimados==40'>40 Pontos</span><span class='label label-success' ng-if='vm.Model.pontosEstimados==100'>100 Pontos</span></dd>
                <dt>{{ ::vm.Labels.prazo }}</dt>
                <dd bind-custom-value="vm.Model.prazo" bind-Custom-Type="DateTime?" ></dd>
                <dt>{{ ::vm.Labels.usuarioId }}</dt>
                <dd bind-custom-value="vm.Model.usuarioId" bind-Custom-Type="propertyInstance" bind-property-name= "usuarioId" bind-releted-class= "Usuario" ></dd>
                <dt>{{ ::vm.Labels.pendenciaTipoId }}</dt>
                <dd bind-custom-value="vm.Model.pendenciaTipoId" bind-Custom-Type="propertyInstance" bind-property-name= "pendenciaTipoId" bind-releted-class= "PendenciaTipo" ></dd>
                <dt>{{ ::vm.Labels.fluxoTrabalhoStatusId }}</dt>
                <dd bind-custom-value="vm.Model.fluxoTrabalhoStatusId" bind-Custom-Type="propertyInstance" bind-property-name= "fluxoTrabalhoStatusId" bind-releted-class= "FluxoTrabalhoStatus" ></dd>
                <dt>{{ ::vm.Labels.pendenciaPrioridadeId }}</dt>
                <dd bind-custom-value="vm.Model.pendenciaPrioridadeId" bind-Custom-Type="propertyInstance" bind-property-name= "pendenciaPrioridadeId" bind-releted-class= "PendeciaPrioridade" ></dd>
                <dt>{{ ::vm.Labels.tags }}</dt>
                <dd bind-custom-value="vm.Model.tags" bind-Custom-Type="string" ></dd>
                <dt>{{ ::vm.Labels.dataConclusao }}</dt>
                <dd bind-custom-value="vm.Model.dataConclusao" bind-Custom-Type="DateTime?" ></dd>
