<div class="modal-body">
  <dl>
    <dt>{{ vm.labels.projetoId }}:</dt>
    <dd><bind-custom [model]="vm.model.projetoId" [format]="'instance'" [tag]="'span'"  [instance]="'Projeto'" [filterid]="'vm.model.projetoId'"></bind-custom></dd>
 

    <dt>{{ vm.labels.fluxoTrabalhoStatusId }}:</dt>
    <dd><bind-custom [model]="vm.model.fluxoTrabalhoStatusId" [format]="'instance'" [tag]="'span'"  [instance]="'FluxoTrabalhoStatus'" [filterid]="'vm.model.fluxoTrabalhoStatusId'"></bind-custom></dd>
 


  </dl> 
</div>
