<dl>
    <dt>{{ vm.infos.nome.label }}:</dt>
    <dd><bind-custom [model]="vm.details.nome" [format]="'string'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.infos.telefoneDeContato.label }}:</dt>
    <dd><bind-custom [model]="vm.details.telefoneDeContato" [format]="'string'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.infos.emailDeContato.label }}:</dt>
    <dd><bind-custom [model]="vm.details.emailDeContato" [format]="'string'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.infos.cpfcnpj.label }}:</dt>
    <dd><bind-custom [model]="vm.details.cpfcnpj" [format]="'string'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.infos.usuarioId.label }}:</dt>
    <dd><bind-custom [model]="vm.details.usuarioId" [format]="'instance'" [tag]="'span'"  [instance]="'Usuario'" [filterid]="'vm.model.usuarioId'"></bind-custom></dd>
 

</dl> 

