<div class="modal-body">
  <dl>
    <dt>{{ vm.infos.nome.label }}:</dt>
    <dd><bind-custom [model]="vm.model.nome" [format]="'string'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.infos.telefoneDeContato.label }}:</dt>
    <dd><bind-custom [model]="vm.model.telefoneDeContato" [format]="'string'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.infos.emailDeContato.label }}:</dt>
    <dd><bind-custom [model]="vm.model.emailDeContato" [format]="'string'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.infos.cpfcnpj.label }}:</dt>
    <dd><bind-custom [model]="vm.model.cpfcnpj" [format]="'string'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.infos.usuarioId.label }}:</dt>
    <dd><bind-custom [model]="vm.model.usuarioId" [format]="'instance'" [tag]="'span'"  [instance]="'Usuario'" [filterid]="'vm.model.usuarioId'"></bind-custom></dd>
 

  </dl> 
</div>
