<div class="modal-body">
  <dl>
    <dt>{{ vm.labels.nome }}:</dt>
    <dd><bind-custom [model]="vm.model.nome" [format]="'string'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.labels.email }}:</dt>
    <dd><bind-custom [model]="vm.model.email" [format]="'string'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.labels.senha }}:</dt>
    <dd><bind-custom [model]="vm.model.senha" [format]="'string'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.labels.usuarioTipoId }}:</dt>
    <dd><bind-custom [model]="vm.model.usuarioTipoId" [format]="'instance'" [tag]="'span'"  [instance]="'UsuarioTipo'" [filterid]="'vm.model.usuarioTipoId'"></bind-custom></dd>
 

    <dt>{{ vm.labels.ativo }}:</dt>
    <dd><bind-custom [model]="vm.model.ativo" [format]="'bool'" [tag]="'span'" ></bind-custom></dd>
 

    <dt>{{ vm.labels.usuarioDonoId }}:</dt>
    <dd><bind-custom [model]="vm.model.usuarioDonoId" [format]="'int?'" [tag]="'span'" ></bind-custom></dd>
 


  </dl> 
</div>
