        <section class="col-md-12">
                  <div class='form-group'>
                    <label ng-show='vm.formCrud.nome.$valid || vm.formCrud.nome.$pristine'>{{ ::vm.Labels.nome }}</label>
                    <label class='alert alert-danger' ng-show='vm.formCrud.nome.$invalid && vm.formCrud.nome.$dirty'>Campo {{ ::vm.Labels.nome }} é obrigatório</label>
                    <input type='text' class='form-control' ng-model='vm.Model.nome' name='nome' ng-required='true' attributes-c attributes-container='Tags' attributes-field='nome' />
                </div>        
        </section>
        <section class="col-md-12">
                  <div class='form-group'>
                    <label ng-show='vm.formCrud.projetoId.$valid || vm.formCrud.projetoId.$pristine'>{{ ::vm.Labels.projetoId }}</label>
                    <label class='alert alert-danger' ng-show='vm.formCrud.projetoId.$invalid && vm.formCrud.projetoId.$dirty'>Campo {{ ::vm.Labels.projetoId }} é obrigatório</label>
                    <make-select model='vm.Model.projetoId' dataitem='Projeto' label='Selecione' name='projetoId' ng-required='true'></make-select>
                </div>        
        </section>
        <section class="col-md-12">
                  <div class='form-group'>
                    <label ng-show='vm.formCrud.pendenciaId.$valid || vm.formCrud.pendenciaId.$pristine'>{{ ::vm.Labels.pendenciaId }}</label>
                    <label class='alert alert-danger' ng-show='vm.formCrud.pendenciaId.$invalid && vm.formCrud.pendenciaId.$dirty'>Campo {{ ::vm.Labels.pendenciaId }} é obrigatório</label>
                    <make-select model='vm.Model.pendenciaId' dataitem='Pendencia' label='Selecione' name='pendenciaId' ng-required='true'></make-select>
                </div>        
        </section>