        <section class="col-md-12">
                  <div class='form-group'>
                    <label ng-show='vm.formCrud.descricao.$valid || vm.formCrud.descricao.$pristine'>{{ ::vm.Labels.descricao }}</label>
                    <label class='alert alert-danger' ng-show='vm.formCrud.descricao.$invalid && vm.formCrud.descricao.$dirty'>Campo {{ ::vm.Labels.descricao }} é obrigatório</label>
                    <textArea class='form-control' ng-model='vm.Model.descricao' name='descricao' ng-required='true'rows=10 ></textArea>
                </div>        
        </section>
        <section class="col-md-12">
                  <div class='form-group'>
                    <label>{{ ::vm.Labels.data }}</label>
                    <p class='input-group'>
                        <make-datetime-picker model='vm.Model.data' model-isopen='vm.dataisOpen'></make-datetime-picker>
                        <span class='input-group-btn'>
                            <button type='button' class='btn btn-default' ng-click='vm.openCalendar($event, vm,"dataisOpen")'><i class='fa fa-calendar'></i></button>
                        </span>
                    </p>
                </div>        
        </section>
        <section class="col-md-12">
                  <div class='form-group'>
                    <label ng-show='vm.formCrud.usuarioId.$valid || vm.formCrud.usuarioId.$pristine'>{{ ::vm.Labels.usuarioId }}</label>
                    <label class='alert alert-danger' ng-show='vm.formCrud.usuarioId.$invalid && vm.formCrud.usuarioId.$dirty'>Campo {{ ::vm.Labels.usuarioId }} é obrigatório</label>
                    <make-select model='vm.Model.usuarioId' dataitem='Usuario' label='Selecione' name='usuarioId' ng-required='true'></make-select>
                </div>        
        </section>
        <section class="col-md-12">
                  <div class='form-group'>
                    <label ng-show='vm.formCrud.pendenciaId.$valid || vm.formCrud.pendenciaId.$pristine'>{{ ::vm.Labels.pendenciaId }}</label>
                    <label class='alert alert-danger' ng-show='vm.formCrud.pendenciaId.$invalid && vm.formCrud.pendenciaId.$dirty'>Campo {{ ::vm.Labels.pendenciaId }} é obrigatório</label>
                    <make-select model='vm.Model.pendenciaId' dataitem='Pendencia' label='Selecione' name='pendenciaId' ng-required='true'></make-select>
                </div>        
        </section>