<div class="modal-body">
  <div class="row">
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.labels.nome }}</label>
                    <input type='text' class='form-control'[(ngModel)]='vm.model.nome' name='nome' required (change)='isValid()' />
                </div>
			</section>
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.labels.foto }}</label>
                    <label class='alert alert-danger'>Campo {{ vm.labels.foto }} é obrigatório</label>
                    <p class='input-group'>
                        <input type = 'text' name='foto'  [(ngModel)]='vm.model.foto' class='form-control' placeholder='Selecionar aqrquivo...' >
                        <span class='input-group-btn'>
                            <label class='btn btn-default btn-file'>
                                Procurar<input type='file'  multiple>
                            </label>
                            <button class='btn btn-default' type='button' ng-click='vm.delete(vm.model.foto, vm.model)'>Excluir</button>
                        </span>
                     </p>
                    <img src='{{vm.uploadUri}}{{vm.model.foto}}' style='width: 100px' />
                    <p *ng-If='vm.model.foto != null' style='margin: 10px'>
                         <button class='btn' ngclipboard data-clipboard-text='{{vm.uploadUri}}{{vm.model.foto}}' uib-tooltip='copiar'>
                            <em class='text-muted'>{{vm.uploadUri}}{{vm.model.foto}}</em> <i class='fa fa-copy'></i>
                        </button>
                    </p>
                </div>
			</section>
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.labels.email }}</label>
                    <input type='email' class='form-control'[(ngModel)]='vm.model.email' name='email' required (change)='isValid()' />
                </div>
			</section>
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.labels.senha }}</label>
                    <input type='password' class='form-control' [(ngModel)]='vm.model.senha' name='senha' required />
                </div>
                <div class='form-group'>
                    <label ng-show='vm.model.senha == vm.model.confSenha || vm.model.confSenha == null'>Confirmar {{ vm.labels.senha }}</label>
                    <label class='alert alert-danger' ng-show='vm.model.senha != vm.model.confSenha && vm.model.confSenha != null'>Confirme sua  {{ vm.labels.senha }}</label>
                    <input type='password' class='form-control'  [(ngModel)]='vm.model.confSenha' name='confSenha' required />
                </div>
			</section>
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.labels.usuarioTipoId }}</label>
                    <make-select [value]='vm.model.usuarioTipoId' [dataitem]='"UsuarioTipo"' label='Selecione' [name]='usuarioTipoId' [required]='true' (msChange)='onChangeMakeSelectusuarioTipoId($event)'></make-select>
                </div>
			</section>
			<section class="col-md-12">
                <div class='checkbox'>
                    <label>
                        <input type='checkbox'  [(ngModel)]='vm.model.ativo'  name='ativo' /> {{ vm.labels.ativo }}?
                    </label>
                </div>
			</section>

  </div>
</div>
