        <section class="col-md-12">
                  <div class='form-group'>
                    <label ng-show='vm.formCrud.arquivo.$valid || vm.formCrud.arquivo.$pristine'>{{ ::vm.Labels.arquivo }}</label>
                    <label class='alert alert-danger' ng-show='vm.formCrud.arquivo.$invalid && vm.formCrud.arquivo.$dirty'>Campo {{ ::vm.Labels.arquivo }} é obrigatório</label>
                    <input type='text' class='form-control' ng-model='vm.Model.arquivo' name='arquivo' ng-required='true' attributes-c attributes-container='Documento' attributes-field='arquivo' />
                </div>        
        </section>
        <section class="col-md-12">
                  <div class='form-group'>
                    <label ng-show='vm.formCrud.ext.$valid || vm.formCrud.ext.$pristine'>{{ ::vm.Labels.ext }}</label>
                    <label class='alert alert-danger' ng-show='vm.formCrud.ext.$invalid && vm.formCrud.ext.$dirty'>Campo {{ ::vm.Labels.ext }} é obrigatório</label>
                    <input type='text' class='form-control' ng-model='vm.Model.ext' name='ext' ng-required='true' attributes-c attributes-container='Documento' attributes-field='ext' />
                </div>        
        </section>