<div class="modal-header">
    <h3 class="modal-title">{{ vm.ActionTitle }}</h3>
    <p>{{ vm.ActionDescription }}</p>
</div>
<div class="modal-body">
    <div class="panel-body">
        <ng-form name="vm.frmConcluir">
             <section class="col-md-12">
                <div class='form-group'>
                    <label ng-show='vm.frmConcluir.comentario.$valid || vm.frmConcluir.comentario.$pristine'>Comentário</label>
                    <label class='alert alert-danger' ng-show='vm.frmConcluir.comentario.$invalid && vm.frmConcluir.comentario.$dirty'>Campo {{ ::vm.Labels.comentario }} é obrigatório</label>
                    <textArea class='form-control' ng-model='vm.Model.comentario' name='comentario' rows=10></textArea>
                </div>
            </section>
        </ng-form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="vm.ok(vm.Model)" ng-disabled="!vm.frmConcluir.$valid">Salvar</button>
    <button class="btn btn-default" type="button" ng-click="vm.cancel()">Cancelar</button>
</div>