<div class="modal-header">
    <h3 class="modal-title">{{ vm.ActionTitle }}</h3>
    <p>{{ vm.ActionDescription }}</p>
</div>
<div class="modal-body">
    <div class="panel-body">
      <ng-form name="vm.frmParar">
        <section class="col-md-12">
                  <div class='form-group'>
                    <label ng-show='vm.frmParar.nota.$valid || vm.frmParar.nota.$pristine'>Nota</label>
                    <label class='alert alert-danger' ng-show='vm.frmParar.$invalid && vm.frmParar.nota.$dirty'>Campo {{ ::vm.Labels.nota }} é obrigatório</label>
                    <textArea class='form-control' ng-model='vm.Model.nota' name='nota' rows=10 ></textArea>
                </div>        
        </section>
      </ng-form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="vm.ok(vm.Model)" ng-disabled="!vm.frmParar.$valid">Salvar</button>
    <button class="btn btn-default" type="button" ng-click="vm.cancel()">Cancelar</button>
</div>