<div class="modal-body">
  <div class="row">
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.labels.projetoId }}</label>
                    <make-select [value]='vm.model.projetoId' [dataitem]='"Projeto"' label='Selecione' [name]='projetoId' [required]='true' (msChange)='onChangeMakeSelectprojetoId($event)'></make-select>
                </div>
			</section>
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.labels.fluxoTrabalhoStatusId }}</label>
                    <make-select [value]='vm.model.fluxoTrabalhoStatusId' [dataitem]='"FluxoTrabalhoStatus"' label='Selecione' [name]='fluxoTrabalhoStatusId' [required]='true' (msChange)='onChangeMakeSelectfluxoTrabalhoStatusId($event)'></make-select>
                </div>
			</section>

  </div>
</div>
