                <dt>{{ ::vm.Labels.nome }}</dt>
                <dd bind-custom-value="vm.Model.nome" bind-Custom-Type="string" ></dd>
                <dt>{{ ::vm.Labels.foto }}</dt>
                <dd bind-custom-value="vm.Model.foto" bind-Custom-Type="string" ></dd>
                <dt>{{ ::vm.Labels.email }}</dt>
                <dd bind-custom-value="vm.Model.email" bind-Custom-Type="string" ></dd>
                <dt>{{ ::vm.Labels.senha }}</dt>
                <dd bind-custom-value="vm.Model.senha" bind-Custom-Type="string" ></dd>
                <dt>{{ ::vm.Labels.usuarioTipoId }}</dt>
                <dd bind-custom-value="vm.Model.usuarioTipoId" bind-Custom-Type="propertyInstance" bind-property-name= "usuarioTipoId" bind-releted-class= "UsuarioTipo" ></dd>
                <dt>{{ ::vm.Labels.ativo }}</dt>
                <dd bind-custom-value="vm.Model.ativo" bind-Custom-Type="bool" ></dd>
                <dt>{{ ::vm.Labels.usuarioDonoId }}</dt>
                <dd bind-custom-value="vm.Model.usuarioDonoId" bind-Custom-Type="int?" ></dd>
