        <section class="col-md-12">
                  <div class='form-group'>
                    <label ng-show='vm.formCrud.nome.$valid || vm.formCrud.nome.$pristine'>{{ ::vm.Labels.nome }}</label>
                    <label class='alert alert-danger' ng-show='vm.formCrud.nome.$invalid && vm.formCrud.nome.$dirty'>Campo {{ ::vm.Labels.nome }} é obrigatório</label>
                    <input type='text' class='form-control' ng-model='vm.Model.nome' name='nome' ng-required='true' attributes-c attributes-container='Usuario' attributes-field='nome' />
                </div>        
        </section>
        <section class="col-md-12">
                  <div class='form-group'>
                    <label ng-show='vm.formCrud.foto.$valid || vm.formCrud.foto.$pristine'>{{ ::vm.Labels.foto }}</label>
                    <label class='alert alert-danger' ng-show='vm.formCrud.foto.$invalid && vm.formCrud.foto.$dirty'>Campo {{ ::vm.Labels.foto }} é obrigatório</label>
                    <p class='input-group'>
                        <input type = 'text' name='foto' ng-model='vm.Model.foto' class='form-control' placeholder='Selecionar aqrquivo...' >
                        <span class='input-group-btn'>
                            <label class='btn btn-default btn-file'>
                                Procurar<input type='file' ngf-select='vm.upload($files,vm.Model)' multiple>
                            </label>
                            <button class='btn btn-default' type='button' ng-click='vm.delete(vm.Model.foto, vm.Model)'>Excluir</button>
                        </span>
                     </p>
                    <img src='{{vm.uploadUri}}{{vm.Model.foto}}' style='width: 100px' />
                    <p ng-show='vm.Model.foto != null' style='margin: 10px'>
                         <button class='btn' ngclipboard data-clipboard-text='{{vm.uploadUri}}{{vm.Model.foto}}' uib-tooltip='copiar'>
                            <em class='text-muted'>{{vm.uploadUri}}{{vm.Model.foto}}</em> <i class='fa fa-copy'></i>
                        </button>
                    </p>
                </div>        
        </section>
        <section class="col-md-12">
                  <div class='form-group'>
                    <label ng-show='vm.formCrud.email.$valid || vm.formCrud.email.$pristine'>{{ ::vm.Labels.email }}</label>
                    <label class='alert alert-danger' ng-show='vm.formCrud.email.$invalid && vm.formCrud.email.$dirty'>Campo {{ ::vm.Labels.email }} é obrigatório</label>
                    <input type='email' class='form-control' ng-model='vm.Model.email' name='email' ng-required='true' attributes-c attributes-container='Usuario' attributes-field='email' />
                </div>        
        </section>
        <section class="col-md-12">
                  <div class='form-group'>
                    <label ng-show='vm.formCrud.senha.$valid || vm.formCrud.senha.$pristine'>{{ ::vm.Labels.senha }}</label>
                    <label class='alert alert-danger' ng-show='vm.formCrud.senha.$invalid && vm.formCrud.senha.$dirty'>Campo {{ ::vm.Labels.senha }} é obrigatório</label>
                    <input type='password' class='form-control' ng-model='vm.Model.senha' name='senha' ng-required='true' attributes-c attributes-container='Usuario' attributes-field='senha' />
                </div>
                <div class='form-group'>
                    <label ng-show='vm.Model.senha == vm.Model.confSenha || vm.Model.confSenha == null'>Confirmar {{ ::vm.Labels.senha }}</label>
                    <label class='alert alert-danger' ng-show='vm.Model.senha != vm.Model.confSenha && vm.Model.confSenha != null'>Confirme sua  {{ ::vm.Labels.senha }}</label>
                    <input type='password' class='form-control' ng-model='vm.Model.confSenha' name='confSenha' ng-required='true' attributes-c attributes-container='Usuario' attributes-field='senha' />
                </div>        
        </section>
        <section class="col-md-12">
                  <div class='form-group'>
                    <label ng-show='vm.formCrud.usuarioTipoId.$valid || vm.formCrud.usuarioTipoId.$pristine'>{{ ::vm.Labels.usuarioTipoId }}</label>
                    <label class='alert alert-danger' ng-show='vm.formCrud.usuarioTipoId.$invalid && vm.formCrud.usuarioTipoId.$dirty'>Campo {{ ::vm.Labels.usuarioTipoId }} é obrigatório</label>
                    <make-select model='vm.Model.usuarioTipoId' dataitem='UsuarioTipo' label='Selecione' name='usuarioTipoId' ng-required='true'></make-select>
                </div>        
        </section>
        <section class="col-md-12">
                  <div class='checkbox'>
                    <label>
                        <input type='checkbox' ng-model='vm.Model.ativo'  name='ativo' /> {{ ::vm.Labels.ativo }}?
                    </label>
                </div>        
        </section>