<div class="modal-body">
  <div class="row" [formGroup]="vm.form">
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.infos.nome.label }}</label>
                    <input type='text' class='form-control'[(ngModel)]='vm.model.nome' name='nome' required formControlName='nome' />
                </div>
			</section>
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.infos.foto.label }}</label><br>
                    <img src='{{vm.downloadUri}}{{vm.model.foto}}' style='width: 100px' /><br>
                    Procurar<input type='file'  multiple><br>
                    <em *ngIf='vm.model.foto != null' class='text-muted'>{{vm.downloadUri}}{{vm.model.foto}}</em><br>
                    <button class='btn btn-default' type='button' (click)='vm.delete(vm.model.foto, vm.model)'>Excluir</button><br>
                </div>
			</section>
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.infos.email.label }}</label>
                    <input type='email' class='form-control'[(ngModel)]='vm.model.email' name='email' required formControlName='email' />
                </div>
			</section>
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.infos.senha.label }}</label>
                    <input type='password' class='form-control' [(ngModel)]='vm.model.senha' name='senha' required formControlName='senha'  />
                </div>
                <div class='form-group'>
                    <label *ngIf='vm.model.senha == vm.model.confSenha || vm.model.confSenha == null'>Confirmar {{ vm.infos.senha.label }}</label>
                    <label class='alert alert-danger' *ngIf='vm.model.senha != vm.model.confSenha && vm.model.confSenha != null'>Confirme sua  {{ vm.infos.senha.label }}</label>
                    <input type='password' class='form-control'  [(ngModel)]='vm.model.confSenha' name='confSenha' required formControlName='confSenha' />
                </div>
			</section>
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.infos.usuarioTipoId.label }}</label>
                    <select class='form-control'  name='usuarioTipoId' [(ngModel)]='vm.model.usuarioTipoId' required formControlName='usuarioTipoId' datasource [dataitem]="'UsuarioTipo'"></select>
                  </div>
			</section>
			<section class="col-md-12">
                <div class='checkbox'>
                    <label>
                        <input type='checkbox'  [(ngModel)]='vm.model.ativo'  name='ativo' formControlName='ativo' /> {{ vm.infos.ativo.label }}?
                    </label>
                </div>
			</section>
  </div>
</div>
