<div class="modal-body">
  <div class="row" [formGroup]="vm.form">
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.labels.pendenciaId }}</label>
                    <select  name='pendenciaId' [(ngModel)]='vm.model.Pendencia' required formControlName='pendenciaId' datasource [dataitem]="Pendencia'"></select>
                  </div>
			</section>
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.labels.descricao }}</label>
                    <textarea class='form-control'  [(ngModel)]='vm.model.descricao' name='descricao' required rows='10' formControlName='descricao' ></textarea>
                </div>
			</section>
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.labels.data }}</label>
                    <input type='text' class='form-control'[(ngModel)]='vm.model.data' name='data'  formControlName='data' />
                </div>
			</section>

  </div>
</div>
