<div class="modal-body">
  <div class="row" [formGroup]="vm.form">
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.labels.nome }}</label>
                    <input type='text' class='form-control'[(ngModel)]='vm.model.nome' name='nome' required formControlName='nome' />
                </div>
			</section>
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.labels.descricao }}</label>
                    <textarea class='form-control'  [(ngModel)]='vm.model.descricao' name='descricao' required rows='10' formControlName='descricao' ></textarea>
                </div>
			</section>
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.labels.visao }}</label>
                    <textarea class='form-control'  [(ngModel)]='vm.model.visao' name='visao'  rows='10' formControlName='visao' ></textarea>
                </div>
			</section>
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.labels.clienteId }}</label>
                    <select  name='clienteId' [(ngModel)]='vm.model.Cliente' required formControlName='clienteId' datasource [dataitem]="Cliente'"></select>
                  </div>
			</section>
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.labels.chaveUnica }}</label>
                    <input type='text' class='form-control'[(ngModel)]='vm.model.chaveUnica' name='chaveUnica' required formControlName='chaveUnica' />
                </div>
			</section>
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.labels.inicio }}</label>
                    <input type='text' class='form-control'[(ngModel)]='vm.model.inicio' name='inicio'  formControlName='inicio' />
                </div>
			</section>
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.labels.fim }}</label>
                    <input type='text' class='form-control'[(ngModel)]='vm.model.fim' name='fim'  formControlName='fim' />
                </div>
			</section>

  </div>
</div>
