        <section class="col-md-12">
                  <div class='form-group'>
                    <label ng-show='vm.formCrud.pendenciaId.$valid || vm.formCrud.pendenciaId.$pristine'>{{ ::vm.Labels.pendenciaId }}</label>
                    <label class='alert alert-danger' ng-show='vm.formCrud.pendenciaId.$invalid && vm.formCrud.pendenciaId.$dirty'>Campo {{ ::vm.Labels.pendenciaId }} é obrigatório</label>
                    <make-select model='vm.Model.pendenciaId' dataitem='Pendencia' label='Selecione' name='pendenciaId' ng-required='true'></make-select>
                </div>        
        </section>
        <section class="col-md-12">
                  <div class='form-group'>
                    <label ng-show='vm.formCrud.documentoId.$valid || vm.formCrud.documentoId.$pristine'>{{ ::vm.Labels.documentoId }}</label>
                    <label class='alert alert-danger' ng-show='vm.formCrud.documentoId.$invalid && vm.formCrud.documentoId.$dirty'>Campo {{ ::vm.Labels.documentoId }} é obrigatório</label>
                    <make-select model='vm.Model.documentoId' dataitem='Documento' label='Selecione' name='documentoId' ng-required='true'></make-select>
                </div>        
        </section>