

<app-projeto-field-details [(vm)]="vm"></app-projeto-field-details>


<dt>Arquivos do Projeto</dt>
<dd>
  <ul *ngFor="let pd of vm.details.collectionProjetoDocumento" class="list-unstyled">
    <li *ngIf='pd.documento.ext=="jpg" || pd.documento.ext=="png" || pd.documento.ext=="jpeg"'><a href='{{vm.downloadUri}}documento/{{pd.documento.arquivo}}' target="_blank"><img src="{{vm.downloadUri}}documento/{{pd.documento.arquivo}}" style="width:150px" /></a></li>
    <li *ngIf='pd.documento.ext!="jpg" && pd.documento.ext!="png" && pd.documento.ext!="jpeg"'><i class="fa fa-file"></i> <a href='{{vm.downloadUri}}documento/{{pd.documento.arquivo}}' target="_blank">{{pd.documento.arquivo}}</a></li>
    <li><tag-input [(ngModel)]='pd.documento.tags' [placeholder]="''" [secondaryPlaceholder]="''" [disabled]="true"></tag-input></li>
  </ul>
</dd>