<div class="row">
  <section class="col-md-6">
	<div class='form-group'>
                    <label>{{ vm.infos.nome.label }}</label>
                    <input type='text' class='form-control'  [(ngModel)]='vm.modelFilter.nome' name='nome' />
                </div>
  </section>
  <section class="col-md-6">
	<div class='form-group'>
                    <label>{{ vm.infos.fluxoTrabalhoTipoId.label }}</label>
                    <select class='form-control'  name='fluxoTrabalhoTipoId' [(ngModel)]='vm.modelFilter.fluxoTrabalhoTipoId' datasource [dataitem]="'FluxoTrabalhoTipo'" (msChange)='onChangeMakeSelectfluxoTrabalhoTipoId($event)'></select>
                </div>
  </section>
  <section class="col-md-6">
	<div class='form-group'>
                    <label>{{ vm.infos.corFundo.label }}</label>
                    <input type='text' class='form-control'  [(ngModel)]='vm.modelFilter.corFundo' name='corFundo' />
                </div>
  </section>
  <section class="col-md-6">
	<div class='form-group'>
                    <label>{{ vm.infos.corFonte.label }}</label>
                    <input type='text' class='form-control'  [(ngModel)]='vm.modelFilter.corFonte' name='corFonte' />
                </div>
  </section>
  <section class="col-md-6">
	<div class='form-group'>
                    <label>{{ vm.infos.ordem.label }}</label>
                    <input type='text' class='form-control'  [(ngModel)]='vm.modelFilter.ordem' name='ordem' />
                </div>
  </section>
</div>
