        <section class="col-md-12">
                  <div class='form-group'>
                    <label ng-show='vm.formCrud.nome.$valid || vm.formCrud.nome.$pristine'>{{ ::vm.Labels.nome }}</label>
                    <label class='alert alert-danger' ng-show='vm.formCrud.nome.$invalid && vm.formCrud.nome.$dirty'>Campo {{ ::vm.Labels.nome }} é obrigatório</label>
                    <input type='text' class='form-control' ng-model='vm.Model.nome' name='nome' ng-required='true' attributes-c attributes-container='FluxoTrabalhoStatus' attributes-field='nome' />
                </div>        
        </section>
        <section class="col-md-12">
                  <div class='form-group'>
                    <label ng-show='vm.formCrud.fluxoTrabalhoTipoId.$valid || vm.formCrud.fluxoTrabalhoTipoId.$pristine'>{{ ::vm.Labels.fluxoTrabalhoTipoId }}</label>
                    <label class='alert alert-danger' ng-show='vm.formCrud.fluxoTrabalhoTipoId.$invalid && vm.formCrud.fluxoTrabalhoTipoId.$dirty'>Campo {{ ::vm.Labels.fluxoTrabalhoTipoId }} é obrigatório</label>
                    <make-select model='vm.Model.fluxoTrabalhoTipoId' dataitem='FluxoTrabalhoTipo' label='Selecione' name='fluxoTrabalhoTipoId' ng-required='true'></make-select>
                </div>        
        </section>
        <section class="col-md-12">
                  <div class='form-group'>
                    <label ng-show='vm.formCrud.corFundo.$valid || vm.formCrud.corFundo.$pristine'>{{ ::vm.Labels.corFundo }}</label>
                    <label class='alert alert-danger' ng-show='vm.formCrud.corFundo.$invalid && vm.formCrud.corFundo.$dirty'>Campo {{ ::vm.Labels.corFundo }} é obrigatório</label>
                    <input type='text' class='form-control' ng-model='vm.Model.corFundo' name='corFundo'  attributes-c attributes-container='FluxoTrabalhoStatus' attributes-field='corFundo' />
                </div>        
        </section>
        <section class="col-md-12">
                  <div class='form-group'>
                    <label ng-show='vm.formCrud.corFonte.$valid || vm.formCrud.corFonte.$pristine'>{{ ::vm.Labels.corFonte }}</label>
                    <label class='alert alert-danger' ng-show='vm.formCrud.corFonte.$invalid && vm.formCrud.corFonte.$dirty'>Campo {{ ::vm.Labels.corFonte }} é obrigatório</label>
                    <input type='text' class='form-control' ng-model='vm.Model.corFonte' name='corFonte'  attributes-c attributes-container='FluxoTrabalhoStatus' attributes-field='corFonte' />
                </div>        
        </section>
        <section class="col-md-12">
                  <div class='form-group'>
                    <label ng-show='vm.formCrud.ordem.$valid || vm.formCrud.ordem.$pristine'>{{ ::vm.Labels.ordem }}</label>
                    <label class='alert alert-danger' ng-show='vm.formCrud.ordem.$invalid && vm.formCrud.ordem.$dirty'>Campo {{ ::vm.Labels.ordem }} é obrigatório</label>
                    <input type='text' class='form-control' ng-model='vm.Model.ordem' name='ordem'  attributes-c attributes-container='FluxoTrabalhoStatus' attributes-field='ordem' />
                </div>        
        </section>