        <section class="col-md-12">
                  <div class='form-group'>
                    <label ng-show='vm.formCrud.projetoId.$valid || vm.formCrud.projetoId.$pristine'>{{ ::vm.Labels.projetoId }}</label>
                    <label class='alert alert-danger' ng-show='vm.formCrud.projetoId.$invalid && vm.formCrud.projetoId.$dirty'>Campo {{ ::vm.Labels.projetoId }} é obrigatório</label>
                    <make-select model='vm.Model.projetoId' dataitem='Projeto' label='Selecione' name='projetoId' ng-required='true'></make-select>
                </div>        
        </section>
        <section class="col-md-12">
                  <div class='form-group'>
                    <label ng-show='vm.formCrud.fluxoTrabalhoStatusId.$valid || vm.formCrud.fluxoTrabalhoStatusId.$pristine'>{{ ::vm.Labels.fluxoTrabalhoStatusId }}</label>
                    <label class='alert alert-danger' ng-show='vm.formCrud.fluxoTrabalhoStatusId.$invalid && vm.formCrud.fluxoTrabalhoStatusId.$dirty'>Campo {{ ::vm.Labels.fluxoTrabalhoStatusId }} é obrigatório</label>
                    <make-select model='vm.Model.fluxoTrabalhoStatusId' dataitem='FluxoTrabalhoStatus' label='Selecione' name='fluxoTrabalhoStatusId' ng-required='true'></make-select>
                </div>        
        </section>