<div class="modal-body">
  <div class="row" [formGroup]="vm.form">
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.labels.pendenciaId }}</label>
                    <select  name='pendenciaId' [(ngModel)]='vm.model.Pendencia' required formControlName='pendenciaId' datasource [dataitem]="Pendencia'"></select>
                  </div>
			</section>
			<section class="col-md-12">
                <div class='form-group'>
                    <label>{{ vm.labels.documentoId }}</label>
                    <select  name='documentoId' [(ngModel)]='vm.model.Documento' required formControlName='documentoId' datasource [dataitem]="Documento'"></select>
                  </div>
			</section>

  </div>
</div>
